* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin: 0px 10px;
}

.logoNavbar{
    margin: 20px;
}

.ulNavbar{
    margin: 20px;
}

/* .ulNavbar li{
    display: inline-block;
    padding: 10px;
} */

.ulNavbar a{
    color: black;
    text-decoration: none;
}


.ulNavbar a:hover{
    color: grey;
    text-decoration: underline;
}